{% extends "base.html" %}


{% block content %}
   <div class="container">
	<h4>Update Review..</h4>
        <br/>
        <form action="/update/{{ review_bk_id }}/{{review_bk_update}}"
         METHOD="POST">
          <input type="text" placeholder="{{ review_bk_id }}" name="id" value="{{ review_bk_id }}">
          <input type="text" placeholder="{{review_bk_update}}" name="review" value="{{review_bk_update}}">
          <input type="text" placeholder="{{review_bk_update}}" name="review" value="{{review_bk_update}}">
          <a href="{{ url_for('get_tasks') }}" class="btn-large red text-shadow">
            Cancel <i class="fas fa-times-circle right"></i>
          </a>
         
          <button type="submit" class="btn-large light-blue darken-1 text-shadow">
            Update Review <i class="fas fa-edit right"></i>
          </button>
         </form>
      </div>


{% endblock %}